.catalog {
   padding-bottom: 103px;

   &__tabs {
      margin-top: 69px;
      margin-bottom: 0;
      padding-left: 0;
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &__tab {
      width: 220px;
      height: 50px;
      border: 2px solid #d0d0d0;
      font-size: 18px;
      font-weight: 500;
      text-align: center;
      color: #6b6b6b;
      text-transform: uppercase;
      line-height: 50px;
      transform: skewX(-25deg);
      margin: 0 5px;
      cursor: pointer;
      transition: .8s all;

      &:hover {
         box-shadow: 3px 3px 15px $main-color;
         color: #0d0d0d;
         border: none;
      }

      div {
         transform: skewX(25deg);
      }

      &_active {
         background-color: $main-color;
         color: #fff;
         border: none;

      }
   }

   &__content {
      margin-top: 60px;
   }

   &-item {
      width: 300px;
      min-height: 440px;
      border: 2px solid #e8e8e8;
      padding: 20px 20px 26px 20px;

      &__img {
         display: block;
         margin: 0 auto;
         max-width: 100%;
         height: 200px;
      }

      &__subtitle {
         margin-top: 20px;
         font-size: 16px;
         font-weight: 700;
         text-align: center;
         color: #0d0d0d;
      }

      &__descr {
         margin-top: 16px;
         font-weight: 300;
         text-align: center;
         color: #0d0d0d;
      }

      &__link {
         display: block;
         margin-top: 17px;
         font-size: 14px;
         font-weight: 500;
         text-align: center;
         color: $main-color;
         text-decoration: underline;

         &:hover {
            color: $main-color;
            text-decoration: none;

         }
      }

      hr {
         margin-top: 19px;
         margin-bottom: 21px;
         background-color: #e8e8e8;
         border-bottom: none;
      }

      &__footer {
         display: flex;
         justify-content: space-between;
         align-items: center;
      }

      &__old-price {
         text-decoration: line-through;
         font-size: 14px;
         font-weight: 300;
         text-align: left;
         color: #555;
      }

      &__price {
         font-size: 20px;
         font-weight: 700;
         text-align: left;
         color: #050505;
      }
   }
}